.bg {
  background-color: rgba(8, 6, 6, 0.26);
}
.bgImg {
  background-image: url(../../../Images/bg/bg-1.jpg);

  /* Full height */
  height: 80vh;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* backface-visibility: hidden; */
}
.text {
  text-shadow: 0px 8px 10px rgb(61, 57, 57);
  font-size: 50px;
}
